{% extends "core/base.html" %}
{% block title %}
    Portfolio
{% endblock title %}
{% load static %}
{% block customcss %}
    {% static 'core/css/portfolio.css' %}
{% endblock customcss %}
{% block content %}
    <div id="container" class="container">
        <div class="row">
            {% for project in projects %}
                <div class="col col-project m-3">
                    <div class="card project h-100">
						<div class="card-body">
							<h5 class="card-title">{{ project.title }}</h5>
							<div class="card-text my-3">
								{% for tech in project.technologies.all %}
									<span class="badge tech text-bg-warning">{{ tech.name }}</span>
								{% endfor %}
							</div>
							<p class="card-text">{{ project.description }}</p>
                        </div>
						<div class="card-footer footer my-3">
							<a href="{{ project.url }}" class="btn btn-primary plink">View project</a>	
						</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
