.project {
    border: none;
    background: none;
    background-color: #16192A;
}

.col-project {
	padding-right: 0px;  
	padding-left: 0px;
 }

.row-project {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.pimage {
	border-radius: 25%;
}

.footer {
	border: none;
}

.plink {
	width: 100%;
}

.tech {
	color: #0F111D;
}
